<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Feed Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="feedbacK_data">
    <div [innerHTML]="feedbacK_data.content.rendered"></div>
    </ion-text>
    <div class="main_cls">
      <h5>How Has Detoximind Helped You Become A Better Version Of Yourself?</h5>
      <app-formstory></app-formstory>
    </div>
</ion-content>
