ion-toolbar {
    --background: #0F1B41;
    --color: #FFFAEA;
}
.text-feedback{
display: flex;
justify-content: center;
padding-top: 100%;
}
::ng-deep .elementor-element.elementor-element-18f501f.success-right-content.elementor-widget.elementor-widget-text-editor {
    display: none;
}
::ng-deep .elementor-element.elementor-element-e764997.elementor-shape-rounded.elementor-grid-0.e-grid-align-center.elementor-widget.elementor-widget-social-icons{
    display: none;
}