<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>About Founder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="founder_data">
    <p [innerHTML]="founder_data.content.rendered"></p>
    <div class="social-icon_wrap"><ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-youtube"></ion-icon></div>
    </ion-text>
</ion-content>
