ion-toolbar {
    --background: #0F1B41;
    --color: #FFFAEA;
}

ion-text.md.hydrated p {
    margin: 16px;
    font-size: 12px;
}
// ion-content{
//     --background:#D3E7FF;
// }

::ng-deep ion-tab-bar {
    --background: #fff;
    ion-tab-button {
        --color: #0C1A40;
    }
    ion-tab-button.tab-selected {
    color: #009688;
    }
}