ion-toolbar {
    --background: #0F1B41;
    --color: #FFFAEA;
}
::ng-deep section.elementor-section.elementor-inner-section.elementor-element.elementor-element-30d704c.animated-slow.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-invisible {
    display: none;
}