<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ask Me Buddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-text *ngIf="contactus_data">
    <!-- <p [innerHTML]="contactus_data.content.rendered"></p> -->
  </ion-text>
  <div class="text-feedback">
    <div *ngFor="let item of all_data_rec">
      <p><strong>Question:</strong>{{item.user_message}}</p>
      <p><strong>Answer:</strong><span *ngIf="item.admin_message != null">{{item.admin_message}}</span></p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Question:-</ion-label>
      <ion-textarea placeholder="Enter Your Question" type="text" [(ngModel)]="questionMsg"
        formControlName="questionInput">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" color="secondary" type="submit" [disabled]="!ionicForm.valid">Ask Question
      <ion-spinner name="lines-small" *ngIf="loader"></ion-spinner>
    </ion-button>
  </form>
</ion-footer>