ion-toolbar {
    background: #0F1B41;
    color: #FFFAEA;
    height: 105px;

    img.logo {
        width: 110px;
        margin: 0 auto;
        display: block;
    }
    ion-buttons {
        position: absolute;
        right: 0;
    }

}

.toolbar-container {
    height: 105px !important;
}

ion-content {
    --background: #0F1B41;
    --color: #FFFAEA;
    line-height: 1.8;
}

::ng-deep figure {
    margin: 1em 40px;
    width: 95%;
}

::ng-deep .home-deto-section {
    background: url(../../assets/banner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
}

::ng-deep .elementor-section {
    position: relative;
}

::ng-deep .elementor-widget-container {

    h1.font_4 {
        text-align: center;
        padding: 25px 0 0 0;
        margin-top: 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 2;
    }

    p {
        padding: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
        font-size: 14px;
        margin: 0 0 20px;

    }
}

::ng-deep .elementor-image-carousel.swiper-wrapper {
    display: flex;
}


::ng-deep h2.font_6 {
    font-size: 20px;
    text-align: center;
}

::ng-deep .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}

h3 {
    padding-left: 20px;
    margin: 0px 7px 0 13px !important;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 1px;
}

::ng-deep .img-with-txt img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    box-shadow: 2px -1px 22px #383a3e;
}

::ng-deep ion-menu {
    width: 100% !important;
}

::ng-deep ion-menu-toggle {
    cursor: pointer;
}

::ng-deep .Detox-right_section .elementor-element-f80d4c1 .elementor-widget-container {
    padding: 40px 20px;
}

::ng-deep .img-with-txt .elementor-widget-wrap {
    position: relative;
}

::ng-deep .deto-right_content {
    position: absolute;
    top: 20%;
    padding: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;

    h3 {
        text-align: center;
    }
}

::ng-deep .involed-img {
    position: relative;

    h2 {
        font-size: 20px;
    }

    img {
        height: 80vh;
        object-fit: cover;
        opacity: 0.5;
    }

    .elementor-element-289b6ca {
        position: absolute;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        max-width: 100%;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .elementor-container {
        height: 80vh;
        max-width: 100% !important;
    }

    h1 {
        font-size: 35px;
    }

    a {
        background-color: #fff !important;
        color: #000;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px 20px;
        margin-top: 20px;
        text-decoration: none;
    }
}

::ng-deep section.elementor-section.elementor-top-section.elementor-element.elementor-element-fd7bce1.homepage-slider.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none;
}

::ng-deep .elementor-element.elementor-element-2a52f44.elementor-widget.elementor-widget-text-editor {
    display: none;
}

::ng-deep .elementor-element-b023c21 {
    h2 {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2.6px;
        color: #FFFFFF;
        padding-top: 30px;
    }
}

::ng-deep ion-slides .sp-testimonial-content {
    padding: 0 20px;
}

// ion-slides {
//     height: 100%;
// }
swiper-pagination  {
    padding-bottom: 30px;
}
ion-slides {
    padding-bottom: 40px;
}

::ng-deep ion-tab-bar {
    --background: #fff;
    ion-tab-button {
        --color: #0C1A40;
    }
    ion-tab-button.tab-selected {
    color: #009688;
    }
}
