<ion-header>
  <ion-toolbar color="custom-primary">
  <div class="header-wrap">
    <img class="logo" src="../../assets/Logo.jpg" alt="logo" width="80">
    <!-- <ion-icon slot="end" name="log-out" [routerLink] = "['/profile']"></ion-icon>
    <ion-icon slot="end" name="log-out" (click)="logout()"></ion-icon> -->
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </div>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-text *ngIf="home_data">
    <div [innerHTML]="home_data.content.rendered"></div>
  </ion-text>
  <!-- sidebar----------------------------- -->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
            <div  (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" lines="none"
              detail="false" [class.selected]="activeIndex == i">
              <h3>{{ pages.title }}</h3>
          </div>
          </ion-menu-toggle>
          <h3 (click)="logout()">Logout</h3>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-content>
