ion-toolbar {
    --background: #0F1B41;
    --color: #FFFAEA;
}

ion-content {
    --background: #fff;
    --color: #000000;

    ion-text.md.hydrated p {
        padding: 0px 15px;
        text-align: justify;
        font-family: "Roboto Slab";
        font-weight: 400;
        font-style: normal;
    }
}