<ion-content>
  <div class="upperbody">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </div>
  <div class="profil-dp-wrapper">
    <img src="../../assets/profile..png" alt="Profile">
  </div>
  <!-- <ion-item class="cnp_wrapper">
    <ion-input id="image" type="file" [(ngModel)]="imageData" (change)="uploadFile($event)"></ion-input>
  </ion-item> -->
  <div class="main-body-profile">
    <ion-card class="card" *ngIf="profile_view">
      <ion-card-header>
        <ion-card-title>Profile</ion-card-title>
        <ion-card-subtitle>{{email}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      <div class="button-wrapper">
        <div class="edit-pro-btn-wrapper">
          <ion-button (click)="editForm()">Edit</ion-button>
        </div>
        <div class="change-pro-btn-wrapper">
          <ion-button (click)="changeForm()">Change Password</ion-button>
        </div>
      </div>
      </ion-card-content>
      </ion-card>
      <ion-card class="card" *ngIf="edit_form">
        <ion-card-header>
          <div class="close_btn" (click)="closeEditor()">
            <ion-icon name="close-outline"></ion-icon>
          </div>
          <ion-card-title>Edit Profile</ion-card-title>
          </ion-card-header>
          <ion-card-content>
      <form [formGroup]="updateForm" (ngSubmit)="UpadateUser()">
        <ion-item class="cnp_wrapper" fill="outline">
          <ion-label position="floating">Email:-</ion-label>
          <ion-input id="email" type="email" placeholder="Enter Email" formControlName="email" [(ngModel)]="email">
          </ion-input>
        </ion-item>
        <ion-item class="cnp_wrapper" fill="outline">
          <ion-label position="floating">First Name:-</ion-label>
          <ion-input id="first_name" type="text" placeholder="Enter First Name" formControlName="first_name"
            [(ngModel)]="firstname">
          </ion-input>
        </ion-item>
        <ion-item class="cnp_wrapper" fill="outline">
          <ion-label position="floating">Last Name:-</ion-label>
          <ion-input id="last_name" type="text" placeholder="Enter Last Name" formControlName="last_name"
            [(ngModel)]="lastname"></ion-input>
        </ion-item>

        <div class="button-wrapper">
          <div class="edit-pro-btn-wrapper">
            <ion-button type="submit" [disabled]="!updateForm.valid">Update</ion-button>
          </div>
          <div class="change-pro-btn-wrapper">
            <ion-button (click)="changeForm()">Change Password</ion-button>
          </div>
        </div>
      </form>
      </ion-card-content>
      </ion-card>
      <ion-card class="card" *ngIf="change_form">
        <ion-card-header>
          <div class="close_btn" (click)="closeEditor()">
            <ion-icon name="close-outline"></ion-icon>
          </div>
          <ion-card-title>Change Password</ion-card-title>
          </ion-card-header>
          <ion-card-content>

      <form [formGroup]="changeData" (ngSubmit)="chengePassword()">
        <ion-item class="op_wrapper" fill="outline">
          <ion-label position="floating">Old Password:-</ion-label>
          <ion-input id="old_password" type="text" placeholder="Enter New Password" formControlName="old_password">
          </ion-input>

          <div *ngIf="(old_password.dirty || old_password.touched) && old_password.errors" class="errors">
            <span *ngIf="old_password.errors?.required">Old Password is required</span>
         
          </div>
        </ion-item>
        <ion-item class="np_wrapper" fill="outline"> 
          <ion-label position="floating">New Password:-</ion-label>
          <ion-input id="new_password" type="password" placeholder="Enter New Password" formControlName="new_password">
          </ion-input>
          <div *ngIf="(new_password.dirty || new_password.touched) && new_password.errors" class="errors">
            <span *ngIf="new_password.errors?.required">New Password is required</span>
            <span *ngIf="new_password.errors?.minlength">New Password needs to be 6 characters</span>
          </div>

        </ion-item>
        <ion-item class="cnp_wrapper" fill="outline">
          <ion-label position="floating">Confirm New Password:-</ion-label>
          <ion-input id="cnp_password" type="password" placeholder="Enter Confirm Password"
            formControlName="confirm_password"></ion-input>
          <div *ngIf="(confirm_password.dirty || confirm_password.touched) && confirm_password.errors" class="errors">
            <span *ngIf="confirm_password.errors?.required">Confirm Password is required</span>
            <span *ngIf="confirm_password.errors?.mustMatch">Passwords must match</span>
          </div>
        </ion-item>

        <div class="change-password-wrapper">
          <ion-button type="submit" [disabled]="!changeData.valid">Change Password</ion-button>
        </div>
      </form>
      </ion-card-content>
      </ion-card>
  </div>
</ion-content>